<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex="40">
<p>Display the details of the Dish here</p>
</div>

<div fxFlex="40">
<p>Display the list of comments here</p>
</div>

</div>