<div class = "container" fxLayout = "column" fxLayoutGap ="10px">
    
  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
      <md-grid-list cols="2" rowHeight="200px">
        <md-grid-tile *ngFor="let dish of dishes">
            <img height="200px" src={{dish.image}} alt={{dish.name}}>
              <md-grid-tile-footer>
                <h1 md-line>{{dish.name | uppercase }}</h1>
              </md-grid-tile-footer>        
        </md-grid-tile>
      </md-grid-list>  
  </div>

  <div class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" 
  fxLayoutGap.xs="0">
  
  <div fxFlex="40">
  <p>Display the details of the Dish here</p>
  </div>
  
  <div fxFlex="40">
  <p>Display the list of comments here</p>
  </div>
  
  </div>

  <!--
      <div fxFlex *ngIf="selectedDish">
        <md-card>
          <md-card-header>
            <md-card-title>
              <h3>{{selectedDish.name | uppercase }}</h3>
            </md-card-title>
          </md-card-header>
            <img md-card-image src="{{selectedDish.image}}" alt="{{selectedDish.name}}">
          <md-card-content>
            <p>{{selectedDish.description }}</p>
          </md-card-content>
          <md-card-actions>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
          </md-card-actions>
        </md-card>
    </div>
   
  -->

  
</div> 
